.dashboard{

min-height:100vh;

padding:50px;

background:
linear-gradient(
135deg,
#ffe6f2,
#ffffff,
#fce4ec
);

}


.dashboard h1{

text-align:center;

font-size:42px;

color:#e91e63;

margin-bottom:50px;

}



.stats{

display:flex;

justify-content:center;

gap:40px;

flex-wrap:wrap;

}



.stat-card{


width:260px;

padding:30px;

background:white;

border-radius:25px;

text-align:center;

box-shadow:
0 10px 30px rgba(0,0,0,.15);

transition:.3s;

}



.stat-card:hover{

transform:
translateY(-10px)
scale(1.05);

}



.stat-card h2{

color:#555;

}



.stat-card p{

font-size:45px;

font-weight:bold;

color:#e91e63;

}



.admin-actions{

margin-top:60px;

display:flex;

justify-content:center;

gap:30px;

flex-wrap:wrap;

}



.admin-actions button{


padding:18px 35px;

font-size:18px;

border:none;

border-radius:15px;

background:#e91e63;

color:white;

cursor:pointer;

transition:.3s;

}



.admin-actions button:hover{

background:#ad1457;

transform:scale(1.05);

}


.admin-actions .add{

background:#43a047;

}
.admin-dashboard{

padding:40px;

background:#fff5fb;

min-height:100vh;

}


.admin-title{

text-align:center;

font-size:40px;

color:#e91e63;

}


.dashboard-cards{

display:grid;

grid-template-columns:
repeat(3,1fr);

gap:30px;

margin-top:40px;

}


.dashboard-card{

background:white;

padding:30px;

border-radius:20px;

box-shadow:
0 10px 25px rgba(0,0,0,.1);

text-align:center;

transition:.3s;

}


.dashboard-card:hover{

transform:translateY(-10px);

}


.dashboard-card h2{

font-size:35px;

color:#ff4081;

}


.dashboard-card button{

padding:15px 25px;

background:#e91e63;

color:white;

border:none;

border-radius:10px;

cursor:pointer;

font-size:16px;

}