.category-page{

    padding:40px;
    background:#fff8fb;
    min-height:100vh;

}


.category-page h1{

    text-align:center;
    color:#e91e63;
    margin-bottom:40px;
    font-size:35px;

}



.products-grid{

    display:grid;

    grid-template-columns:
    repeat(auto-fit,minmax(250px,1fr));

    gap:30px;

}