.manage{

padding:40px;

background:#fff5fa;

min-height:100vh;

}


.manage h1{

text-align:center;

color:#e91e63;

font-size:40px;

}



table{

width:100%;

background:white;

border-collapse:collapse;

margin-top:40px;

box-shadow:0 10px 25px #ddd;

}



th{

background:#e91e63;

color:white;

padding:15px;

}



td{

padding:15px;

text-align:center;

border-bottom:1px solid #ddd;

}



td img{

width:80px;

height:80px;

object-fit:cover;

border-radius:15px;

}



button{

padding:10px 15px;

border:none;

border-radius:8px;

color:white;

cursor:pointer;

margin:5px;

}



.edit{

background:#1976d2;

}


.delete{

background:#d32f2f;

}