.success-container{

display:flex;
justify-content:center;
align-items:center;
min-height:90vh;
background:#e91e63;

}

.invoice{

width:500px;
background:#ffeef6;
padding:30px;
border-radius:15px;
box-shadow:0 0 20px rgba(0,0,0,.2);

}

.invoice h1{

color:#e91e63;
text-align:start;

}

.invoice h2{

text-align:center;
color:#e91e63

}

.invoice p{

font-size:18px;
margin:12px 0;

}

.invoice button{

padding:12px 25px;
background:#e91e63;
color:aqua;
border:none;
border-radius:8px;
cursor:pointer;
margin-top:15px;

}

.invoice button:hover{

background:#c2185b;

}