.success-container{

display:flex;

justify-content:center;

align-items:center;

min-height:100vh;

background:#ffeef6;

padding:30px;

}

.success-card{

background:white;

padding:40px;

width:500px;

border-radius:15px;

box-shadow:0 10px 25px rgba(0,0,0,.15);

text-align:left;

}

.success-card h1{

color:#e91e63;

text-align:center;

margin-bottom:20px;

}

.success-card h2{

margin-bottom:15px;

color:#444;

}

.success-card p{

font-size:17px;

margin:10px 0;

}

.success-card button{

margin-top:25px;

width:100%;

padding:14px;

border:none;

background:#e91e63;

color:white;

font-size:18px;

border-radius:10px;

cursor:pointer;

}

.success-card button:hover{

background:#c2185b;

}