/* Global Styles */

body {
  margin: 0;
  padding: 0;
  background-color: #FFFDF7;
}

/* Links */
a {
  text-decoration: none;
  color: inherit;
}

/* Lists */
ul {
  list-style: none;
}

/* Buttons */
button {
  border: none;
  outline: none;
  cursor: pointer;
  font-family: inherit;
}

/* Inputs */
input {
  outline: none;
  font-family: inherit;
}

/* Images */
img {
  display: block;
  max-width: 100%;
}

/* Scrollbar */

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #F5F5DC;
}

::-webkit-scrollbar-thumb {
  background: #556B2F;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: #6B8E23;
}