.navbar{

display:flex;

justify-content:space-between;

align-items:center;

padding:20px 50px;

background:white;

box-shadow:0 4px 15px rgba(0,0,0,.1);

position:sticky;

top:0;

z-index:1000;

}



.logo{

display:flex;

align-items:center;

gap:10px;

color:#e91e63;

}



.logo-icon{

font-size:30px;

}



.nav-links{

display:flex;

gap:30px;

list-style:none;

}



.nav-links a{

text-decoration:none;

color:#333;

font-size:18px;

font-weight:500;

}



.nav-links a:hover{

color:#e91e63;

}