.navbar{

display:flex;
justify-content:space-between;
align-items:center;
padding:20px 60px;
background:#2c1810;
color:white;

}

.logo{

font-size:30px;
font-weight:bold;

}

ul{

display:flex;
gap:35px;
list-style:none;

}

li{

cursor:pointer;
transition:.3s;

}

li:hover{

color:gold;

}

.cart{

background:#ff9800;
border:none;
padding:10px 22px;
border-radius:8px;
font-size:16px;
cursor:pointer;

}

.cart:hover{

background:orange;

}