/* ===========================
   NAVBAR
=========================== */

.navbar {
  width: 100%;
  background: #556B2F;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
}

.navbar-container {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* ===========================
   LOGO
=========================== */

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #fff;
  font-size: 1.7rem;
  font-weight: 700;
  cursor: pointer;
}

.logo span {
  color: #F5F5DC;
}

/* ===========================
   NAV LINKS
=========================== */

.nav-links {
  display: flex;
  align-items: center;
  gap: 35px;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: #ffffff;
  font-size: 1rem;
  font-weight: 500;
  transition: all 0.3s ease;
  position: relative;
}

.nav-links a:hover {
  color: #FFD166;
}

.nav-links a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0%;
  height: 2px;
  background: #FFD166;
  transition: 0.3s;
}

.nav-links a:hover::after {
  width: 100%;
}

/* ===========================
   ICONS
=========================== */

.nav-icons {
  display: flex;
  align-items: center;
  gap: 15px;
}

.icon-btn {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background: #F5F5DC;
  color: #556B2F;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  transition: all 0.3s ease;
}

.icon-btn:hover {
  background: #FFD166;
  transform: translateY(-3px);
}

/* ===========================
   RESPONSIVE
=========================== */

@media (max-width: 768px) {

  .navbar-container {
    flex-direction: column;
    height: auto;
    padding: 15px 0;
  }

  .nav-links {
    flex-wrap: wrap;
    justify-content: center;
    gap: 18px;
    margin: 15px 0;
  }

  .logo {
    margin-bottom: 10px;
  }
  .nav-right{
    display:flex;
    align-items:center;
    gap:20px;
}

@media(max-width:992px){

.nav-right{
    flex-direction:column;
}

}

}